* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
}

header {
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  font-size: 42px;
  color: #00A8FF;
}

header p {
  font-size: 18px;
  color: #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid transparent;
}

.card:hover {
  border-color: #00A8FF;
  transform: translateY(-5px);
}

.card h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  color: #00A8FF;
}
